body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: #111;
    color: #fff;
}

main {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

img {
    display: block;
    margin: 2rem auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: brightness(0);
    }

    to {
        opacity: 1;
        filter: brightness(1);
    }
}

footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
}